@media (max-width: 767px) {
    /* Điều chỉnh kích thước font, ẩn các thành phần không cần thiết 
       hoặc chuyển menu sang dạng rút gọn */
    .sidebar-top, .side-search, .right-panel {
        display: none;
    }
    .screen-767 {
        display: block !important;
    }
    .screen-max {
        display: none !important;
    }
    .sidebar {
        position: fixed;
        top: 6vh;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border-right: none;
        backdrop-filter: blur(4px);
        background-color: unset;
        padding-top: 0; padding-bottom: 0;
        display: none;
        box-shadow: unset;
    }
    .nav-tree {
        background-color: var(--bg-main);
        width: fit-content;
        padding-right: 2em;
        border-right: 1px solid var(--border-default);
        padding-top: 1em; padding-bottom: 1em;
        font-size: 1.1em;
    }
    .main-nav {
        align-items: center;
        padding: 12px;
    }
    .search-bar {
        padding: 0.1em 0.6em;
        border-radius: 80px;
        margin: 0 0.5em;
        justify-content: center !important;
    }
    .content-body {
        padding: 1.5em;
        box-shadow: var(--box);
    }
    .modal-content {
        width: 100vw;
    }
    .popup {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .popup .popup-title {
        display: none;
    }
    .popup .popup-content {
        padding: 0;
        margin: 0.5em 0;
    }
    .popup .popup-content *:not(h3) {
        font-size: 1.1em;
    }
    .card-meta > * {
        flex: 1;
    }
    .card-meta button span {
        display: none;
    }
    .card-meta button i {
        margin: 0;
    }
}
